<nav class="navbar navbar-expand-lg " id="nav">
    <div class="container-fluid">
      <!-- <div class="heading"> -->
        <h1 style="font-size: xx-large; font-weight: bolder; color: white; ">Student Portal</h1>
    
    
    <!-- </div> -->
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul> -->
        
        <form class="d-flex">
          <app-time></app-time>
        
            <app-userinfo></app-userinfo>
            <div class="form-check form-switch" id="toogle" (click)="toggle()">
              <span [innerHTML]="color ? sunIcon : moonIcon"></span>
            </div>
          

        
        </form>
      </div>
    </div>
  </nav>
<!-- <router-outlet></router-outlet> -->
<router-outlet></router-outlet>

